.zoom__board {
  background-color: lightgrey;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.zoom__board:focus {
  background: white;
  cursor: grab;
}

.zoom__board--dragging,
.zoom__board--dragging:active {
  cursor: grabbing;
}

.zoom__board-inner {
  position: relative;
  width: 5000px;
  height: 5000px;
}